

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;

}
 
.footer_style{
    background:#2c2c54; color: white;
    margin-bottom: 0;
}

 a{
    text-decoration: none;
    color: white;
    

}
li{
    list-style: none;
}
 
a:hover{
    text-decoration: none;
    color: #4bcffa;

}
.d-flex div{
    text-align: center;
    border-right:1px solid grey;
    border-top:1px solid grey ;
    
}
.d-flex div:last-child{
    border-right: none;
     
 
}
.carousel-item, img{
    height: 800px;
    width: 100%;
    
}
.carousel-item, img{
    opacity: 0.8;
}
.ourservices{
    padding: 100px 0px 60px;
    height: 700px;
}
.ourservices h1{
    font-size: 50px;
    font-weight: bold;
}
.rowsetting  {
    margin: 80px 0px ;
}
.imgsetting{
     
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fa-book{
    margin-top: 20px;
}

.fa-pencil-square-o{
    margin-top: 24px;
}
.fa-subscript{
    margin-top: 21px;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.rowsetting p{
    color: 6c757d !important;
    padding: 10px;
}

.continer{
    margin-top:8%;

}
.inner{
    overflow: hidden;

}
.inner img{
    transition: all 1.5s ease;
    height: 450px;

}
.inner:hover img{
    transform: scale(1.5);
}
.testimonials{
    margin: 50px auto;

}
.testimonials h1{
    text-align: center;
    color: #ff9800;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;

}
.testimonials h1::after{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile img{
    height: 140px;
}
.testimonials .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;

}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;

}
.profile img{
    top:-60px;
    position:absolute;
    left: calc(50% - 60px);
    border: 10px solid white;


}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}
span{
    font-size: 12px;
    color: #333;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
    
}
/*
blockquote::before{
    content: '\93';
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 20px;
    bottom: -15px;
    left: 5px;

}
blockquote::after{
    content: '\93';
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 20px;
    bottom: -15px;
    left: 5px;

}
*/
.profile:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);


}


/* below is for my team section*/
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body{
  background: #81c644;
  font-family: 'Josefin Sans', sans-serif;
}*/

.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}


/* this is for gallery section jumbtron part only*/

 
.img-jmbo{
    background-image:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('mainweb/images/intro.jpg');
    height: 550px;
    width: 100%;
}

 

body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
     
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;

}

.tz-gallery .lightbox img {
    width: auto;
    height: auto;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    object-fit: cover;
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

img#first, img.d-block.w-100 {
    object-fit: contain;
    }