{% extends 'mainweb/guru.html'%}

{% block about %}

 
{%load static%}
<div class=" container py-5  alert alert-success text-center" role="alert">
    <strong>Developing the future STEAME Education!</strong> 
</div>

<div class="container col-lg-6 col-sm-12 col-mdd-12 ">
    <blockquote><strong>
        Those who are passionate about Science, Technology, Engineering, Art, Mathematics & Exercise and approach tasks with Logical Thinking are making a change in the younger generation.

We initiated this program with a vision of changing the way of thinking and realigning the approach towards problem solving in 2015. We are at the completion of our 5th year anniversary this August. Our student leaders make the students who demonstrate a passion not only to change their personal course but also to bring a change in the society.

If you want to bring a change…. Join us.
    </blockquote></strong>
 
</div>



 
    
    
{% endblock %}



