<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainweb/style/style.css' %}" >
    <script type="text/javascript" src="script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SteamLogic</title>
  </head>
  <body>
     
    {% load static %}
    
    

      <!-- Nav bar starts here-->
       
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <a class="navbar-brand" href=" {% url 'homepage' %}">SteamLogic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'homepage' %} ">Home  </a>
            </li>
             

             
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events & Services
              </a>
             
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'events' %}" target="_blank">Bootcamps</a>
                <a class="dropdown-item" href="{% url 'events' %} " target="_blank">High School Visits</a>
                <a class="dropdown-item" href="{% url 'events' %} " target="_blank">Personalized Trainings</a>
                <a class="dropdown-item" href="{% url 'events' %} " target="_blank">Community Services</a>
                <a class="dropdown-item" href="{% url 'events' %} " target="_blank">Awareness Programs</a>
                <a class="dropdown-item" href="{% url 'events' %} " target="_blank">Special Weeks</a>
                 
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" target="_blank" >About </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gallery' %}"  target="_blank">Gallery </a>
            </li>
             
             
          </ul>
          <form class="form-inline my-7 px-4 my-lg-0">
            <input class="form-control mr-sm-2 px-5" type="search" placeholder="Search for anything" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
         

          
        </div>
      </nav>
    
    {% block home %}
    
    

    {% endblock %}


    {% block events %}
    
    

    {% endblock %}


    {% block about %}
    
    

    {% endblock %}



 
    {% block gallery %}
    
    

    {% endblock %}
    {% block css %}
    
    

    {% endblock %}
  


      <!-- footer starts here-->
      <footer class="footer_style mt-5">
          <main class="container-fluid"> 
              <div class="row p-4 ">
                <div class="col-md-4 col-12 offset-md-1" >
                    <p class="mt-5 text-justify"> Welcome to Steame Logic, here we help developers to grow</p>
                    <p class="text-capitalize"> &#169 2020 Steame Logic.com All rights reserved</p>
                    
                </div>
                <div class=" col-md col-12">
                    <h4>Contact</h4>
                    <dl class="contact-list">
                        <dt>Address:</dt>
                        <dd>Orangeburg, South Carolina, 29115</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>Email:</dt>
                        <dd><a href="mailto:#">sagar@sagar.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>Phones:</dt>
                        <dd><a href="tel:#">+1908-720-1563</a></dd>
                    </dl>
                </div>
                <div class="col-md-2 col-12">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="{% url 'homepage' %}">Services</a></li>
                        <li><a href="{% url 'homepage' %}">Portfolio</a></li>
                        <li><a href="{% url 'homepage' %}">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="{% url 'about' %}" target="_blank"> About</a></li>

                    </ul>

                </div>

              </div>

              <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                <div class="p-md-5 p-2 flex-fill ">
                <a href="https://www.linkedin.com/in/ghsagar/" target="_blank"> <i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span> </a> </div>
             
                <div class="p-md-5 p-2 flex-fill "><a href="https://www.linkedin.com/in/ghsagar/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a></div>
             
                <div class="p-md-5 p-2 flex-fill "><a href="https://github.com/ghsagar" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></div>
             
                <div class="p-md-5 p-2 flex-fill "><a href="https://github.com/ghsagar" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i><span>Youtube</span></a></div>
               
                </div>
          </main>
      </footer>



      





      <!-- Footer ends here-->


      
    
      <script type="text/javascript" src="script.js"></script>
        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>